<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.tullosar.calculator" android:versionName="2.0" android:versionCode="2.0">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
	<application android:label="Calculator.Android" android:theme="@style/MainTheme"></application>
</manifest>